/* =============== VARIABLES =============== */
:root {
	--text-color-main: #363738;
	--text-color-second: #6B6B6C;
	--text-color-third: #ffffff;
	--accent-color-main: #0B7572;
	--accent-color-second: #FFCE50;
	--container-max-width: 1320px;
	--container-padding: 40px;
}